---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import ResearchCenter from '../components/ResearchCenter.astro';
---

<Layout title="研发中心 - 企业官网">
  <div class="page-container">
    <Navbar />

    <!-- 研发中心模块 -->
    <ResearchCenter />

    <Footer />
  </div>
</Layout>

<style>
  @import '../styles/research-center.scss';
</style>
